*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#020617;
color:white;
}


nav{

display:flex;
justify-content:space-between;
padding:25px 8%;
position:sticky;
top:0;
background:#020617;

}

nav h2{
color:#38bdf8;
}


nav a{

margin:20px;
color:white;
text-decoration:none;

}


section{

padding:80px 10%;

}


.hero{

display:flex;
justify-content:space-between;
align-items:center;
min-height:90vh;

}


.hero h1{

font-size:55px;

}


span{

color:#38bdf8;

}


.hero p{

margin:25px 0;
max-width:550px;
color:#cbd5e1;

}


button{

padding:15px 35px;
border:none;
background:#0284c7;
color:white;
border-radius:30px;

}


.avatar{

font-size:180px;
background:#0f172a;
padding:40px;
border-radius:50%;

}


.cards{

display:flex;
gap:25px;
flex-wrap:wrap;

}


.card{

background:#0f172a;
padding:30px;
border-radius:20px;
border:1px solid #1e40af;
width:250px;

}


.card:hover{

transform:translateY(-10px);
transition:.3s;

}


a{

color:#38bdf8;

}


@media(max-width:800px){

.hero{

flex-direction:column;

}

.hero h1{

font-size:35px;

}

}